@import url('https://fonts.googleapis.com/css?family=Barlow');

.page-wrap{
  max-width: 900px;
  margin: auto;
}

.top-links{
  text-decoration: none;
  font-size: 20px;
  font-family: 'Barlow', sans-serif;
  color: white;
}
.top-links:hover{
  background-color: black;
}

body{
  font-family: 'Barlow', sans-serif;
  margin:0;
  background-color:rgb(177, 168, 177);
}

/* .nav-bar{
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
} */

#banner{
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  min-height: 60px;
  overflow: hidden;
  text-align: center;
  padding-top: 50px;
  background: linear-gradient(to right,white, black );
  color: white;
  transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
}

img{
  width: 100%;
  padding-top: 200px;
}

.nav-bar{

    background: linear-gradient(to right,white, black );
}


.dark-nav{
  width: 900px;
  list-style-type: none;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  /* background: linear-gradient(to right, rgb(152, 149, 156) 25%,rgb(59, 126, 246) ); */
}

.dark-li{
  float: left;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  color: rgb(255, 255, 255);
}


li a[class="dark-li"]{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a[class="dark-li"]:hover{
  background-color: black;
}


.media-card {
  display: inline-block;
  margin-right: 40px;
  margin-top: 20px;
  box-shadow: 4px 8px 0 rgba(0, 0, 0, .2);
  transition: .3s;
  height: 300px;
  width: 250px;
  border-radius: 8px;
  background-color: rgb(237, 174, 56);
  color: white;
  box-sizing: border-box;
  overflow: hidden;
}

.media-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
  padding: 2px 16px;
}

.shrink{
  text-align: center;
  height: 20px;
  padding-bottom: 5px;
  font-size: 15px;
}
