@import url('https://fonts.googleapis.com/css?family=Lato');
  body{
    font-family: Lato, sans-serif;
  }
  hr{
    background-color: mediumblue;
    height: 1px;
  }
  .top{
    background-color: mediumblue;
    height: 50px;
  }
  .jobs{
    font-style:italic;
  }
